user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 1024;
	# multi_accept on;
}

http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	client_max_body_size 5G;
	proxy_request_buffering off;

	# These settings have to match the *-timeout settings in nghttpx.conf:
	# https://gitlab.com/emulation-as-a-service/eaas-ansible/-/blob/@/roles/eaas-server/templates/proxy/nghttpx.conf.j2
	proxy_send_timeout 120m;
	proxy_read_timeout 120m;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	# PortalMedia EaaSI Front End + API
	######################################################################

	server {
		server_name {{ eaasi_ui_fqdn }};
		listen {{ eaasi_ui_proxy_port }};

{% if docker_ssl_enabled %}
{% if not docker_ssl_terminated %}
		location / {
			return 301 https://$http_host$request_uri;
		}
	}

	server {
		server_name {{ eaasi_ui_fqdn }};
{% endif %}
		listen {{ eaasi_ui_proxy_port_ssl }} ssl http2;
		ssl_certificate /etc/nginx/certs/{{ eaasi_ui_ssl_certificate | basename }};
		ssl_certificate_key /etc/nginx/certs/{{ eaasi_ui_ssl_private_key | basename }};
		ssl_session_timeout 5m;
{% endif %}

		location / {
			proxy_pass          http://eaasi-front-end:{{ eaasi_ui_frontend_internal_port }};
			proxy_set_header    X-Forwarded-For $remote_addr;
		}

		location /api {
			proxy_pass          http://eaasi-web-api:{{ eaasi_ui_webapi_internal_port }};
			proxy_set_header    X-Forwarded-For $remote_addr;
			proxy_set_header    X-Forwarded-Proto $scheme;
			proxy_set_header    Host $http_host;
			proxy_set_header    Referer $http_referer;
		}

		location /api/eaasi_app {
			proxy_pass          http://eaasi-web-api:{{ eaasi_ui_webapi_internal_port }}/eaasi_app;
			proxy_set_header    X-Forwarded-For $remote_addr;
			proxy_set_header    X-Forwarded-Proto $scheme;
			proxy_set_header    Host $http_host;
			proxy_set_header    Referer $http_referer;
		}

		location /api/resource_metadata {
			proxy_pass          http://eaasi-web-api:{{ eaasi_ui_webapi_internal_port }}/resource_metadata;
			proxy_set_header    X-Forwarded-For $remote_addr;
			proxy_set_header    X-Forwarded-Proto $scheme;
			proxy_set_header    Host $http_host;
			proxy_set_header    Referer $http_referer;
		}

		location /styleguide {
			proxy_pass          http://eaasi-front-end:{{ eaasi_ui_frontend_internal_port }}/styleguide;
			proxy_set_header    X-Forwarded-For $remote_addr;
		}


		### EaaS Backend APIs #################################################

		{% for endpoint in eaas_endpoints %}
		location /{{ endpoint }} {
			proxy_pass          http://eaas:{{ eaas_internal_port }}/{{ endpoint }};
			proxy_set_header    X-Forwarded-For $remote_addr;
			proxy_set_header    X-Forwarded-Proto $scheme;
			proxy_set_header    Host $http_host;
			{% if endpoint == 'emucomp' %}

			# WebSocket support
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			{% endif %}

			# disable request body size restrictions
			client_max_body_size 0;
		}

		{% endfor %}

		location /admin {
			proxy_pass          http://nginx:80/admin;
			proxy_set_header    X-Forwarded-For $remote_addr;
			proxy_set_header    X-Forwarded-Proto $scheme;
			proxy_set_header    Host $http_host;

			# customize buffering
			proxy_buffers 4 16k;
			proxy_buffer_size 16k;
			proxy_busy_buffers_size 32k;
		}

		location /auth {
			proxy_pass          http://keycloak:8080;
			proxy_set_header    X-Forwarded-For $remote_addr;
			proxy_set_header    X-Forwarded-Proto $scheme;
			proxy_set_header    Host $http_host;

			# customize buffering
			proxy_buffers 4 16k;
			proxy_buffer_size 16k;
			proxy_busy_buffers_size 32k;
		}
	}
}
