POSTGRES_USER={{ eaasi_ui_db_postgres_user }}
POSTGRES_PASSWORD={{ eaasi_ui_db_postgres_password }}
APP_USER={{ eaasi_ui_db_app_user }}
APP_USER_PASSWORD={{ eaasi_ui_db_app_password }}
APP_DB_NAME={{ eaasi_ui_db_name }}
